<h2>Direct Component</h2>
<table>
  <tbody>
    <tr>
      <td>
        @if((justOnServer | async) === true) {
        <span class="red">Just on Server (if)</span>
        } @else {}
      </td>
      <td>
        @if((justOnClient | async) === true) {
        <span class="green">Just on Client (if)</span>
        }
      </td>
    </tr>
    <tr>
      <td>
        @if((justOnServer | async) === false) { } @else {
        <span class="red">Just on Server (else)</span>}
      </td>
      <td>
        @if((justOnClient | async) === false) { } @else {
        <span class="green">Just on Client (else)</span>
        }
      </td>
    </tr>
  </tbody>
</table>