/* You can add global styles to this file, and also import other style files */
.styles-scss {
    background-color: red;
}
:root {
    --styles-not-used-color: blue;
    --styles-not-used-color2: rgb(23, 204, 74);
}